@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Font1';
  src: url('/resources/Font1.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Number';
  src: url('/resources/Number.OTF') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

/* 文字外部描边样式 */
.text-stroke {
  position: relative;
  color: #fff;
}

.text-stroke::before {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  -webkit-text-stroke: 5px #000;
  -webkit-text-fill-color: transparent;
  color: transparent;
}
